<h1>Chatbox</h1>
<div id="chatbox"></div>
<form id="register">
  <input id="name" type="text" name="name" placeholder="Name">
  <button id="btn-register">Register</button>
</form>
<form id="chat">
  <input id="message" type="text" name="message" placeholder="Message">
  <button id="btn" type="submit">Send</button>
</form>
